xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/NewWebService/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com.org/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com.org/" schemaLocation="http://localhost:8080/NewWebService/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="ImagemParaByte">
<part name="parameters" element="tns:ImagemParaByte"/>
</message>
<message name="ImagemParaByteResponse">
<part name="parameters" element="tns:ImagemParaByteResponse"/>
</message>
<message name="ByteParaImagem">
<part name="parameters" element="tns:ByteParaImagem"/>
</message>
<message name="ByteParaImagemResponse">
<part name="parameters" element="tns:ByteParaImagemResponse"/>
</message>
<message name="TratamentoImg">
<part name="parameters" element="tns:TratamentoImg"/>
</message>
<message name="TratamentoImgResponse">
<part name="parameters" element="tns:TratamentoImgResponse"/>
</message>
<portType name="NewWebService">
<operation name="ImagemParaByte">
<input wsam:Action="http://service.com.org/NewWebService/ImagemParaByteRequest" message="tns:ImagemParaByte"/>
<output wsam:Action="http://service.com.org/NewWebService/ImagemParaByteResponse" message="tns:ImagemParaByteResponse"/>
</operation>
<operation name="ByteParaImagem">
<input wsam:Action="http://service.com.org/NewWebService/ByteParaImagemRequest" message="tns:ByteParaImagem"/>
<output wsam:Action="http://service.com.org/NewWebService/ByteParaImagemResponse" message="tns:ByteParaImagemResponse"/>
</operation>
<operation name="TratamentoImg">
<input wsam:Action="http://service.com.org/NewWebService/TratamentoImgRequest" message="tns:TratamentoImg"/>
<output wsam:Action="http://service.com.org/NewWebService/TratamentoImgResponse" message="tns:TratamentoImgResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ImagemParaByte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ByteParaImagem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TratamentoImg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/NewWebService/NewWebService"/>
</port>
</service>
</definitions>